img {
  width: 10rem;
  height: 8rem;
  border-radius: 80%;
}

.bold {
  font-weight: bold;
}

.line {
  text-decoration: underline blue;
  color: blue;
  cursor: pointer;
}

#break-text {
  width: 600px;
}

